<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        
        ">
        
    <context:component-scan base-package="cn.et.lession4">
	<!-- spring默认扫描自带注解比如Controller Service... 如果不希望扫描排除它 
		<context:exclude-filter type="assignable" expression="cn.et.lession2.mvc.controller.MyController"/>
		type="assignable" 排除指定的类
		type="annotion" 表示排除某些带有指定注解的类
	
	-->	
	</context:component-scan> 
    <!-- 
    	bean来定义读取资源文件,context命名空间 读取资源文件
    	bean一般不用
    	<bean id="placeholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    		<property name="location" value="classpath:/cn/et/lession2/jdbc/jdbc.properties"></property>
    	</bean>
     --> 
 
    <context:property-placeholder location="classpath:/cn/et/lession4/jdbc/jdbc.properties"/>
	<!-- 数据源只是为了获取连接 
		${username}是某个关键字默认获取操作系统的用户名Administrator
		bean首先优先读取配置文件
		context优先读取操作系统
	-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   		<property name="url" value="${url}"></property>
   		<property name="username" value="${username1}"></property>
   		<property name="password" value="${password}"></property>
   		<property name="driverClassName" value="${driverClass}"></property>
   </bean>
   <!-- 事务管理器  不在使用jdbc的commit和rollback 必须使用事务管理器提供 -->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
   <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
   <!-- 事务通知 定义通知 通知的代码spring已经实现 -->
   <tx:advice id="myAdvise" transaction-manager="transactionManager">
   		<tx:attributes>
   			<tx:method name="update*" propagation="REQUIRED"/>
   			<tx:method name="save*"/>
   			<tx:method name="delete*"/>
   			<tx:method name="*" read-only="true"/>
   		</tx:attributes>
   </tx:advice>
   <!-- 声明 事务通知需要通知方法(即需要进行事务管理的方法 -->
   <aop:config>
   		<aop:pointcut expression="execution(* cn.*..*.dao.*.*(..))" id="myPoint"/>
   		<aop:advisor advice-ref="myAdvise" pointcut-ref="myPoint"/>
   </aop:config>
</beans>